<div class="container">
  <form
    (ngSubmit)="onSubmit(formData)"
    [formGroup]="formData"
    class="user-form"
  >
    <div class="row mt-3">
      <div class="col-md-3 col-12 form-floating">
        <input
          type="text"
          class="form-control"
          required
          formControlName="fNameAr"
          placeholder=""
          id="fNameAr"
        />
        <label for="fNameAr">الإسم الأول بالعربية</label>
      </div>
      <div class="col-md-3 col-12 form-floating">
        <input
          type="text"
          class="form-control"
          required
          formControlName="secNameAr"
          placeholder=""
          id="secNameAr"
        />
        <label for="secNameAr">الإسم الثانى بالعربية</label>
      </div>
      <div class="col-md-3 col-12 form-floating">
        <input
          type="text"
          class="form-control"
          required
          formControlName="thirdNameAr"
          placeholder=""
          id="thirdNameAr"
        />
        <label for="thirdNameAr">الإسم الأوسط بالعربية</label>
      </div>
      <div class="col-md-3 col-12 form-floating">
        <input
          type="text"
          class="form-control"
          required
          formControlName="lNameAr"
          placeholder=""
          id="lNameAr"
        />
        <label for="lNameAr">الإسم الأخير بالعربية</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-3 col-12 form-floating">
        <input
          type="text"
          class="form-control"
          required
          formControlName="fNameEn"
          placeholder=""
          id="fNameEn"
        />
        <label for="fNameEn">الإسم الأول بالإنجليزية</label>
      </div>
      <div class="col-md-3 col-12 form-floating">
        <input
          type="text"
          class="form-control"
          required
          formControlName="secNameEn"
          placeholder=""
          id="secNameEn"
        />
        <label for="secNameEn">الإسم الثانى بالإنجليزية</label>
      </div>
      <div class="col-md-3 col-12 form-floating">
        <input
          type="text"
          class="form-control"
          required
          formControlName="thirdNameEn"
          placeholder=""
          id="thirdNameEn"
        />
        <label for="thirdNameEn">الإسم الأوسط بالإنجليزية</label>
      </div>
      <div class="col-md-3 col-12 form-floating">
        <input
          type="text"
          class="form-control"
          required
          formControlName="lNameEn"
          placeholder=""
          id="lNameEn"
        />
        <label for="lNameEn">الإسم الأخير بالإنجليزية</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-5 col-3 form-floating">
        <input
          type="text"
          class="form-control"
          required
          formControlName="email"
          placeholder=""
          id="email"
        />
        <label for="email">البريد الإلكترونى</label>
      </div>
      <div class="col-md-3 col-3 form-floating">
        <input
          type="text"
          class="form-control"
          required
          formControlName="countryCode"
          placeholder=""
          id="countryCode"
        />
        <label for="countryCode">كود المدينة</label>
      </div>
      <div class="col-md-4 col-3 form-floating">
        <input
          type="text"
          class="form-control"
          required
          formControlName="mobileNumber"
          placeholder=""
          id="mobileNumber"
        />
        <label for="mobileNumber">رقم الجوال</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6 col-3 form-floating">
        <input
          type="text"
          class="form-control"
          required
          formControlName="birthDate"
          placeholder=""
          id="birthDate"
        />
        <label for="birthDate">تاريخ الميلاد</label>
      </div>
      <div class="col-md-6 col-3 form-floating">
        <input
          class="form-control"
          required
          formControlName="nationalId"
          placeholder=""
          id="nationalId"
          type="number"
        />
        <label for="nationalId">رقم الهوية</label>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6 col-12 form-floating">
        <select
          type="text"
          class="form-control"
          required
          formControlName="maritalStatus"
          placeholder=""
          id="maritalStatus"
        >
          <option *ngFor="let key of Statues" [value]="StatueList[key]">
            {{ key }}
          </option>
        </select>
        <label for="maritalStatus">الحالة الإجتماعية</label>
      </div>
      <div class="col-md-6 col-12 form-floating">
        <select
          type="number"
          class="form-control"
          required
          formControlName="gender"
          placeholder=""
          id="gender"
        >
          <option *ngFor="let key of Genders" [value]="GenderList[key]">
            {{ key }}
          </option>
        </select>
        <label for="gender">الجنس</label>
      </div>
    </div>
    <div class="col-md-12 col-12 mt-3 form-floating">
      <input
        type="text"
        class="form-control"
        required
        formControlName="addressAr"
        placeholder=""
        id="addressAr"
      />
      <label for="addressAr">العنوان باللغة العربية</label>
    </div>
    <div class="col-md-12 col-12 mt-3 form-floating">
      <input
        type="text"
        class="form-control"
        required
        formControlName="addressEn"
        placeholder=""
        id="addressEn"
      />
      <label for="addressEn">العنوان باللغة الإنجليزية</label>
    </div>
    <div
      class="text-success rounded-3 p-3 mt-3 border"
      style="background-color: #eee"
    >
      معلومات عن الوظيفة
    </div>
    <div class="row mt-3">
      <div class="col-md-6 col-12 form-floating">
        <select
          type="number"
          class="form-control"
          required
          formControlName="departmentId"
          placeholder=""
          id="departmentId"
        >
          <option
            *ngFor="let department of departments"
            [value]="department.id"
          >
            {{ department.departmentName }}
          </option>
        </select>
        <label for="departmentId">الإدارة</label>
      </div>
      <div class="col-md-6 col-12 form-floating">
        <select
          type="number"
          class="form-control"
          required
          formControlName="jobId"
          placeholder=""
          id="jobId"
        >
          <option *ngFor="let job of jobs" [value]="job.id">
            {{ job.jobName }}
          </option>
        </select>
        <label for="departmentId">الوظيفة</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">
      حفظ
    </button>
  </form>
</div>
